<!DOCTYPE html>
<html>
<head>
    <title>Admin Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-slate-900 flex items-center justify-center h-screen">

    <form method="POST" class="bg-slate-800 p-8 rounded-2xl w-80 space-y-4">
        <h2 class="text-white text-xl font-bold text-center">Admin Login</h2>

        <input name="username" placeholder="Username"
               class="w-full p-3 rounded bg-slate-700 text-white">

        <input name="password" type="password" placeholder="Password"
               class="w-full p-3 rounded bg-slate-700 text-white">

        <button class="w-full bg-sky-600 p-3 rounded font-bold text-white">
            Login
        </button>
        <a href="/" class="text-white text-sm mt-4 block text-center hover:underline">Home</a>
    </form>
</body>
</html>